:root{
    --main-color: #F2F6F3;
    --nav-color: #1F3D2B;
    --font-color:#EDEBE6;

}
.bg-nav{
    background-color: var(--nav-color) !important;
}
.bg-font{
    color: var(--font-color) !important;
}
.bg-page_container{
    background-color: var(--main-color)!important;
}
.navbar-toggler{
    border-color: var(--font-color);
}
.navbar-toggler:focus{
    box-shadow: var(--font-color);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



.footer-section {
    background-color: #2A2F2C; 
    color: #cccccc; 
    padding-top: 50px; 
    padding-bottom: 30px; 
} 
.footer-section hr { 
    border-color: #ffffff; 
} 
.footer-box { 
    margin-bottom: 30px; 
} 
.footer-box h6 { 
    color: white; 
    margin-bottom: 15px; 
} 
.footer-box p { 
    font-size: 14px; 
} 
.footer-bottom { 
    margin-top: 20px; 
}

.map{
    margin-top: 50px;
    margin-bottom: 50px;
}

