

@media (max-width: 600px) { 
#green_path{
    display: none;
}
} 
/* Small devices (portrait tablets and large phones, 600px and up) */ 
@media (min-width: 600px) { 
#green_path{
    display: none;
}

} 
/* Medium devices (landscape tablets, 768px and up) */ 
@media (min-width: 768px) { 
#green_path{
    display: none;
}
} 
/* Large devices (laptops/desktops, 992px and up) */ 
@media only screen and (min-width: 992px) {
#active{
    text-decoration: underline;
    text-underline-offset: 22px;
    text-decoration-thickness: 5px;
}
#green_path{
    display: inline;
}

 
} 
/* Extra large devices (large laptops and desktops, 1200px and up) */ 
@media only screen and (min-width: 1200px) {


}